.navbar-color {
	background-color: #4f7cac;
}
body{
	background-color: #c0e0de;
	color: #3c474b;
	font-family: 'Roboto', sans-serif;
}
h1, h2{
	color: #4f7cac;
}
.btn-link{
	background-color: none;
	color: black;
	transition: 250ms ease-in-out;
	text-decoration: none;
}
.btn-link:hover{
	background-color: none;
	color: rgb(95, 195, 70);
	background-color: rgb(174, 218, 215);
	transform: translateY(-5px);
}